/*PAGE HOME 1*/
body {
    background-color: #f7f7f7;
}
.logoSynergie img {
    width: 18rem;
    height: 10rem;
}

.logoSynergie {
    padding: 2rem;
}

.connexion {
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}

#connexion {
    display: flex;
    justify-content: center;
}


/*PAGE PROFIL 2*/








/* USER MANAGEMENT PAGE */
.userEditionIcon {
    height: 16px;
    width: 16px;
}







/*PAGE FORMULAIRE CREATION UTILISATEUR*/







/*PAGE ANIMATEUR 4*/









/*PAGE FORMULAIRE CREATION ANIMATEUR*/












/*PAGE RECHERCHE*/


#card-animateur{
    display: flex;
    border: solid 2px black;
    width: 100vh;
    height: 50vh;
    margin: auto;

}


@media only screen and (min-width: 768px) {
    /*PAGE HOME 1*/






    /*PAGE PROFIL 2*/








    /*PAGE UTILISATEURS 3*/








    /*PAGE FORMULAIRE CREATION UTILISATEUR*/







    /*PAGE ANIMATEUR 4*/









    /*PAGE FORMULAIRE CREATION ANIMATEUR*/












    /*PAGE RECHERCHE*/

}