/*PAGE HOME 1*/
.container {
    background-color: #f7f7f7;
}
.logoSynergie img {
    width: 18rem;
    height: 10rem;
}

.connexion {
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}

#connexion {
    display: flex;
    justify-content: center;
}


/*PAGE PROFIL 2*/






/*PAGE UTILISATEURS 3*/





/* PROFILE PAGE */
.profileContent {
    margin-left: 21rem;
    margin-right: 10rem;
    margin-top: 12rem;
}

.saveButton {
    text-align: right;
}

/* USER MANAGEMENT PAGE */

.user-management-body{
    display: flex;
    flex-direction: row;
    margin-left: 18rem;
    margin-top: 3rem;
}

.userManagementPageContent {
    margin-left: 4rem;
    margin-right: 5rem;
    width: 90%;
}

/*PAGE FORMULAIRE CREATION UTILISATEUR*/

#buttonSave {
    display: flex;
    margin-top: 3rem;
    text-align: center;
}





/*PAGE ANIMATEUR 4*/
a i {
    color: black;
}
#search-wrapper-animator {
    width: 20rem;
    display: flex;
}
#search-user-animator {
    width: 1rem;
    margin-top: 1.1rem;
}
.user-animator-ligne {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}
.searchButton {
    border: none;
    background-color: transparent;
}






/*PAGE FORMULAIRE CREATION ANIMATEUR*/












/*PAGE RECHERCHE*/

.card_check{
   margin-left: 10vh;
}

/*FRAGMENT NAV*/
.side-nav {
    background-color: #f7f7f7;
}
header img {
    width: 15rem;
    height: 10rem;
}
header ul li:nth-child(2) {
    margin-top: 3rem;
}

@media only screen and (min-width: 768px) {
    /*PAGE HOME 1*/






    /*PAGE PROFIL 2*/








    /*PAGE UTILISATEURS 3*/








    /*PAGE FORMULAIRE CREATION UTILISATEUR*/







    /*PAGE ANIMATEUR 4*/









    /*PAGE FORMULAIRE CREATION ANIMATEUR*/












    /*PAGE RECHERCHE*/

}