/*PAGE HOME 1*/
h2 {
    font-size: 3rem;
}
.container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
}
.logoSynergie img {
    width: 18rem;
    height: 10rem;
}

.connexion {
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}

#connexion {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#card2 {
    margin: 0rem;
}
.center-align {
    margin-top: 4rem;
}



/*PAGE PROFIL 2*/
#button-form-user-modification {
    text-align: end;
}
.profileContent {
    margin-left: 1rem;
}
#row-profil {
    margin-top: 3rem;
}





/*PAGE UTILISATEURS 3*/




/* USER MANAGEMENT PAGE */

.user-management-body{
    display: flex;
    flex-direction: row;
}

.userManagementPageContent {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 90%;
}
.striped {
    margin-top: 2rem;
}


/*PAGE FORMULAIRE CREATION UTILISATEUR*/

#buttonSave {
    display: flex;
    margin-top: 3rem;
    text-align: center;
}

.bloc-user-creation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc-user-creation h4 {
    margin-top: 2rem;
}
.bloc-user-creation form {
    padding-bottom: 0rem;
}
#bloc-form-user-creation {
    margin-right: 1rem;
}

#button-form-user-creation {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#input-user-creation {
    margin-bottom: 1rem;
}




/*PAGE ANIMATEUR 4*/
.userManagementPageContent {
    overflow: scroll;
}
a i {
    color: black;
}
#search-wrapper-animator {
    width: 15rem;
    display: flex;
    margin-top: 1rem;
}
#search-user-animator {
    width: 1rem;
    margin-top: 1.1rem;
}
.user-animator-ligne {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}
#send-email-animator {
    margin-top: 1rem;
    width: 15rem;
}
#ajout-animateur {
    width: 15rem;
    padding-left: 0.5rem;
    padding-right: 0rem;
}
#ajout-animateur i {
    margin-right: 0;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}
.searchButton {
    border: none;
    background-color: transparent;
}



/*PAGE FORMULAIRE CREATION ANIMATEUR*/
.title-center {
    text-align: center;
}
#row-activity-leader-creation {
    margin: 1rem;
}
#comment {
    height: 5rem;
}
#end-date2 {
    margin-left: 0rem;
    width: 15rem;
    padding-left: 0;
}
.start-date {
    display: flex;
    flex-direction: column;
}
#startdate1 {
    width: 15rem;
}
.center-align-button {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#send-email-condition {
    margin-top: 2rem;
    width: 20rem;
}
#send-email-condition i {
    color: white;
}



/*PAGE RECHERCHE*/

#skill-filter {
    margin-bottom: 0;
    height: 2rem;
}
.center-align-filter {
    text-align: center;
    margin-top: 2rem;
}
.block-filter {
    margin: 1rem;
}
.selectemail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
#card-filter {
    margin: 1rem;
}
.title-check {
    display: flex;
    justify-content: space-between;
}
.title-check label {
    margin-top: 1rem;
}
.show-activity-leader {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
/* test */

::placeholder {
    color: black;
}

/*FRAGMENT NAV*/
.side-nav {
    background-color: #f7f7f7;
}
header {
    width: 13rem;
}
header img {
    width: 8rem;
    height: 6rem;
    margin-left: 0.5rem;
}
header ul li:nth-child(1) {
    margin-top: 3rem;
}
header ul {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 100vh;
    height: 100%;
    box-shadow: 3px 3px 3px gainsboro;
}
.bloc-li li i {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: dimgrey;
    font-weight: bold;
}
.bloc-li li a {
    color: dimgrey;
    font-weight: bold;
}
.bloc-li li {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.bloc-li li:hover {
    background-color: gainsboro;
}
.bloc-li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 22rem;
}



@media only screen and (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }

    /*FRAGMENT NAV*/
    .side-nav {
        background-color: #f7f7f7;
    }
    header {
        width: 19rem;
    }
    header img {
        width: 15rem;
        height: 10rem;
    }
    header ul li:nth-child(1) {
        margin-top: 3rem;
    }
    header ul {
        margin-top: 0;
        margin-bottom: 0;
        min-height: 100vh;
        height: 100%;
        box-shadow: 3px 3px 3px gainsboro;
    }
    .bloc-li li i {
        margin-right: 1.5rem;
        margin-left: 2rem;
        color: dimgrey;
        font-weight: bold;
    }
    .bloc-li li a {
        color: dimgrey;
        font-weight: bold;
    }
    .bloc-li li {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .bloc-li li:hover {
        background-color: gainsboro;
    }
    .bloc-li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 22rem;
    }

    /*PAGE HOME 1*/
    #card2 {
        width: 42rem;
    }
    .logoSynergie img {
        width: 18rem;
        height: 10rem;
    }
    #connexion {
        margin-top: 3rem;
        margin-right: 3rem;
        width: 80rem;
        display: contents;
    }
    #card {
        width: 30rem;
    }



    /*PAGE PROFIL 2*/
    .profileContent {
        margin-left: 5rem;
        margin-right: 10rem;
        margin-top: 8rem;
        width: 80rem;
    }

    .saveButton {
        text-align: right;
    }


    /*PAGE UTILISATEURS 3*/
    .user-management-body{
        display: flex;
        flex-direction: row;
    }

    .userManagementPageContent {
        margin-left: 4rem;
        margin-right: 5rem;
        width: 90%;
    }
    .striped {
        margin-top: 2rem;
    }


    /*PAGE FORMULAIRE CREATION UTILISATEUR*/
    #buttonSave {
        display: flex;
        margin-top: 3rem;
        text-align: center;
    }

    .bloc-user-creation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #bloc-form-user-creation {
        width: 35rem;
        margin-left: 22rem;
    }

    #button-form-user-creation {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    #input-user-creation {
        margin-bottom: 1rem;
    }
    .userManagementPageContent {
        overflow: auto;
    }


    /*PAGE ANIMATEUR 4*/
    a i {
        color: black;
    }
    #search-wrapper-animator {
        width: 20rem;
        display: flex;
    }
    #search-user-animator {
        width: 1rem;
        margin-top: 1.1rem;
    }
    .user-animator-ligne {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 4rem;
    }
    #ajout-animateur {
        margin-right: 3rem;
    }
    .searchButton {
        border: none;
        background-color: transparent;
    }
    #send-email-animator {
        margin-top: 3rem;
    }

    /*PAGE FORMULAIRE CREATION ANIMATEUR*/
    .title-center {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .activity-leader-bloc {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #card-action {
        padding: 0rem;
    }
    #row-activity-leader-creation {
        width: 60rem;
        margin-top: 4rem;
    }
    .card-action {
        margin: 3rem;
    }
    .birthdate, .phone, .location, .city, .diploma, .name {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #birthdate, #email1, #firstname, #last_name, #phone, #adress1, #adress2, #postcode, #city, #car1, #diploma, #xp {
        width: 24rem;
    }
    #email1, #last_name, #adress1, #postcode, #xp, #car1 {
        margin-left: 4rem;
    }
    #car1 {
        margin-left: 5rem;
    }
    #phone1, #city1, #diploma1, #end-date2 {
        margin-left: 0;
        padding-left: 0;
    }
    #car1 {
        margin-top: 1.5rem;
    }
    #comment {
        height: 8rem;
    }
    #diploma1 {
        margin-bottom: 1.5rem;
    }
    .center-align-button button {
        margin-bottom: 4rem;
        margin-top: 3rem;
    }
    .center-align-button {
        text-align: center;
    }
    #diploma1 input {
        width: 24rem;
    }
    #send-email-condition {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 0rem;
    }
    #send-email-condition i {
        color: white;
    }


    /*PAGE RECHERCHE*/
    #leader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .block-filter {
        width: 100%;
    }
    #bloc-form-filter {
        margin-left: 0;
        max-width: 80rem;
    }
    .bloc1, .bloc2, .bloc3, .bloc4, .bloc6 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .bloc5 {
        display: flex;
        justify-content: space-between;
    }
    #firstname-filter, #last_name-filter, #birthdate-filter, #email-filter, #phone-filter, #location1-filter, #location2-filter, #postcode-filter, #city-filter, #car-filter, #diploma-filter, #xp-filter, #unavailabilityStart-filter, #unavailabilityEnd-filter, #startdate1-filter, #endDate1-filter, #audience-filter, #values-filter {
        width: 24rem;
    }
    #last_name-filter, #postcode-filter {
        margin-left: 0;
    }
    .car-filter {
        margin-top: 1rem;
    }
    .car-filter span {
        width: 24rem;
    }
    .bloc1, .bloc2, .bloc3, .values-filter {
    height: 5rem;
    }
    .bloc6, .values-filter {
        margin-top: 1rem;
    }
    .start-date-filter, .endDate-filter {
        width: 24rem;
    }
    .audience-filter {
        width: 24rem;
        margin-top: 1.5rem;
    }
    .center-align-filter {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .firstname-filter, .lastname-filter, .birthdate-filter, .email-filter, .phone-filter, .location1-filter, .location2-filter, .postcode-filter, .city-filter, .car-filter, .diploma-filter, .xp-filter, .start-date-filter, .endDate-filter, .audience-filter, .values-filter {
        width: 25rem;
    }
    .skill-filter {
        display: flex;
        flex-direction: column;
    }
    #skill-filter {
        width: 49rem;
    }
    .values-filter {
        margin-top: 0;
    }
    #card-filter{
        display: flex;
        padding: 0;
        margin: 0;
    }
    .color {
        background-color: greenyellow;
        width: 2rem;
    }
    .bloc-card-filter {
        margin-left: 1.5rem;
        width: 76rem;
    }
    .form-card-filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #card-horizontal {
        width: 80rem;
    }
    .title-check label {
        margin-top: 1rem;
    }
    .title-check {
        display: flex;
        justify-content: space-between;
    }
    .bloc-phone {
        display: flex;
        justify-content: space-between;
    }
    .phone-email-address {
        display: flex;
        justify-content: space-between;
        width: 60rem;
    }
    .phone-email-address i {
        margin-right: 0.5rem;
    }
    .vehicule {
        width: 15rem;
        display: flex;
        justify-content: flex-start;
    }
    .bloc-phone, .bloc-age {
        border-bottom: 1px solid gainsboro;
    }
    .bloc-age {
        display: flex;
        padding-bottom: 1rem;
    }
    .age, .exp, .competence {
        margin-right: 5rem;
    }
    .bloc-competences {
        display: flex;
        justify-content: space-between;
    }
    .competences-filter {
        display: flex;
    }
    .show-activity-leader {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
    }
    .selectemail {
        width: 80rem;
        display: flex;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .selectemail p {
        margin-right: 1rem;
    }

}