<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="user-management-body">
<script type="text/javascript">
    function removeUnavailability(id) {
        document.getElementById(id).remove();
    }
</script>
<th:block th:if="${!external}">
    <header th:replace="nav.html :: nav-bar"></header>
</th:block>
<main class="activity-leader-bloc">
    <div class="row" id="row-activity-leader-creation">
        <form th:action="${external} ? '/activity-leader-edit/' : '/activity-leader-creation'" method="post" th:object="${activityLeader}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input th:field="*{id}" type="hidden">
            <input th:field="*{draft}" type="hidden">
            <div class="row" id="row-form">
                <div class="card white">
                    <div class="card-action black-text" id="card-action">
                        <h4 class="title-center">Information animateur</h4>
                        <div class="name">
                            <div class="firstname">
                                <input th:field="*{firstName}" required id="firstname"type="text" class="validate" placeholder="Prénom*" th:disabled="${!editable}">
                            </div>
                            <div class="lastname">
                                <input th:field="*{lastName}" required id="last_name" type="text" class="validate" placeholder="Nom*" th:disabled="${!editable}">
                            </div>
                        </div>
                        <div class="birthdate">
                            <div>
                                <input th:field="*{birthdate}" id="birthdate" type="date" class="datepicker" placeholder="Date de Naissance" th:disabled="${!editable}">
                            </div>
                            <div class="form-field">
                                <input th:field="*{email}" required id="email1" type="email" class="validate" placeholder="Email*" th:disabled="${!editable}">
                            </div>
                        </div>
                        <div class="phone">
                            <div class="phone1" id="phone1">
                                <input th:field="*{phone}"id="phone" type="tel" class="validate" placeholder="Téléphone" th:disabled="${!editable}">
                            </div>
                            <div class="adress1">
                                <input th:field="*{location.address1}" id="adress1" type="text" class="validate" placeholder="Adresse 1" th:disabled="${!editable}">
                            </div>
                        </div>
                        <div class="location">
                            <div class="adress2">
                                <input th:field="*{location.address2}" id="adress2" type="text" class="validate" placeholder="Adresse 2" th:disabled="${!editable}">
                            </div>
                            <div class="postcode">
                                <input th:field="*{location.postcode}" id="postcode" type="number" class="validate" placeholder="Code postal" th:disabled="${!editable}">
                            </div>
                        </div>
                        <div class="city">
                            <div class="city1" id="city1">
                                <input th:field="*{location.city}" id="city" type="text" class="validate" placeholder="Ville" th:disabled="${!editable}">
                            </div>
                            <div class="car1" id="car1">
                                <label>
                                    <input name="hasACar" th:checked="*{hasACar}" id="car" type="checkbox" th:disabled="${!editable}">
                                        <span>Véhiculé</span>
                                </label>
                            </div>
                        </div>
                        <div class="diploma">
                            <div class="diploma1" id="diploma1">
                                <select multiple th:field="${activityLeader.diplomas}" id="diploma">
                                    <option value="" disabled selected>Diplômes</option>
                                    <option th:each="diploma : ${diplomasList}" th:value="${diploma.id}" th:text="${diploma.name}" th:disabled="${!editable}"></option>
                                </select>
                            </div>
                            <div class="experience">
                                <input th:field="*{experience}"  id="xp" type="number" placeholder="Années d'expériences" th:disabled="${!editable}">
                            </div>
                         </div>
                        <div>
                            <textarea th:field="${activityLeader.comment}" id="comment" name="comment" placeholder="Commentaires" th:disabled="${!editable}"></textarea>
                        </div>
                        <div>
                            <label>Ajouter une nouvelle indisponibilité</label>
                            <div class="unavailabilityStart">
                                <label title="Clique-ici">Date de début d'indisponibilité</label>
                                <input type="date" class="datepicker" name="unavailabilityStart" th:disabled="${!editable}">
                            </div>
                            <div class="unavailabilityEnd">
                                <label title="Clique-ici">Date de fin d'indisponibilité</label>
                                <input type="date" class="datepicker" name="unavailabilityEnd" th:disabled="${!editable}">
                            </div>
                        </div>
                        <div th:if="${activityLeader.unavailabilities.size() > 0}">
                            <label>Indisponibilités</label>
                            <div th:each="unavailability, itemStat : *{unavailabilities}">
                                <div th:id="'unavailability-' + ${unavailability.getId()}">
                                    <div class="unavailabilityStart">
                                        <label title="Clique-ici">Date de début d'indisponibilité</label>
                                        <input th:field="*{unavailabilities[__${itemStat.index}__].startDate}"
                                               type="date" class="datepicker" name="unavailabilityStart"
                                               th:disabled="${!editable}">
                                    </div>
                                    <div class="unavailabilityEnd">
                                        <label title="Clique-ici">Date de fin d'indisponibilité</label>
                                        <input th:field="*{unavailabilities[__${itemStat.index}__].endDate}" type="date"
                                               class="datepicker" name="unavailabilityEnd" th:disabled="${!editable}">
                                    </div>
                                    <a href="#remove" th:onclick="'removeUnavailability(\'unavailability-' + ${unavailability.getId()} + '\')'">Supprimer cette indisponibilité</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-field">
                            <label for="skill" type="text" title="Mettre une virgule entre chaque compétence" class="validate">Compétences</label>
                            <input th:field="*{skillList}" id="skill" type="text" autocomplete="off" class="validate" th:disabled="${!editable}">
                        </div>
                        <div class="start-date">
                            <div class="form-field col s6" id="end-date2">
                                <label for="startdate1" title="Clique-ici">Date de début de contrat</label>
                                <input th:field="*{startDate}" id="startdate1" type="date" class="datepicker" value="05/03/2019" th:disabled="${!editable}">
                            </div>
                            <div class="end-date">
                                <label for="endDate1" title="Clique-ici">Date de fin de contrat</label>
                                <input th:field="*{endDate}" id="endDate1" type="date" class="datepicker" value="05/03/2019" th:disabled="${!editable}">
                            </div>
                        </div>
                        <div class="values">
                            <div class="form-field">
                                <select multiple th:field="${activityLeader.audiences}">
                                    <option value="" disabled selected>Public concerné : </option>
                                    <option th:each="audience : ${audiencesList}" th:value="${audience.id}" th:text="${audience.ageBracket}" th:disabled="${!editable}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-field">
                            <select multiple th:field="*{values}">
                                <option value="" disabled selected>Sélectionnez une valeur : </option>
                                <option th:each="value : ${valuesList}" th:value="${value.id}" th:text="${value.name}" th:disabled="${!editable}"></option>
                            </select>
                        </div>
                        <div class="center-align-button">
                            <button  class ="btn waves-effect waves-light" type ="submit" th:if="${editable}">Enregistrer
                            <i class = "material-icons right" >save</i></button>
                            <a id="send-email-condition" th:href="@{/activity-leader-email/{id}(id=${id})}" th:if="${activityLeader.draft == true and activityLeader.id != null and !external and editable}" class="waves-effect waves-light btn modal-trigger" data-target="modal1">Envoyer la fiche par mail<i class="tiny material-icons right">send</i></a>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });
    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoClose: true,
            today: 'Today',
            clear: 'Réinitialiser',
            close: 'Close',
            firstDay: true,
            selectMonths: true,
            yearRange: [1950,2020],
            labelMonthNext: 'Mois suivant',
            labelMonthPrev: 'Mois précédent',
            labelMonthSelect: 'Selectionner le mois',
            labelYearSelect: 'Selectionner une année',
            format: 'yyyy-mm-dd',
            i18n: {
                months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthsShort: ["Janv", "Fév", "Mar", "Avr", "Mai", "Juin", "Juil", "Aoû", "Sep", "Oct", "Nov", "Dec"],
                weekdays: ["Dimanche","Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"],
                cancel:'Annuler'
            }
        });
    });
</script>
<script type="text/javascript" th:if="${external}">
    $(document).ready(function () {
        $('#form').submit(function (evt) {
            if (confirm("Attention, une fois votre fiche validée, vous ne pourrez plus la modifier.\n Souhaitez-vous poursuivre ?")) {
                return true;
            }
            evt.preventDefault();
            return false;
        });
    });
</script>
</body>
</html>