<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="/nav.html :: nav-bar"></header>
<h3 class="center-align">Information Animateur</h3>
    <div id="leader" class="row">
        <div class="col s12 m6 offset-l3">
            <div class="card white">
                <div class="card-action black-text">
                    <h4 class="center-align">Information Animateur</h4>
                </div>
                <div class="card-content">
                    <div class="form-field col s6">
                        <input id="first_name" type="text" class="validate" placeholder="Prénom">
                    </div>
                    <div class="form-field col s6">
                        <input id="last_name" type="text" class="validate" placeholder="Nom">
                    </div>
                    <div class="form-field col s6">
                        <label for="birthdate" type="date" title="Clique-ici">Date de Naissance</label>
                        <input id="birthdate" type="text" class="datepicker">
                    </div>
                    <div class="form-field">
                        <input id="email" type="email" class="validate" placeholder="Email">
                    </div>
                    <div class="form-field col s6">
                        <input id="telephone" type="tel" class="validate" placeholder="Téléphone"></div>
                    <div class="form-field">
                        <input id="address1 " type="text" class="validate" placeholder="Adresse 1">
                    </div>
                    <div class="form-field col s6">
                        <input id="address2" type="text" class="validate" placeholder="Adresse 2">
                    </div>
                    <div class="form-field col s6">
                        <input id="postcode" type="number" class="validate" placeholder="Code postal">
                    </div>
                    <div class="form-field col s6">
                        <input id="city" type="text" class="validate" placeholder="Ville">
                    </div>
                    <div class="form-field">
                        <input id="vehicule" type="checkbox">
                        <label for="vehicule">Véhiculé</label>
                    </div>
                    <div class="form-field col s6">
                        <select multiple>
                            <option value="" disabled selected>Diplômes</option>
                            <option value="1">BAFA</option>
                            <option value="2">CAP petite enfance</option>
                            <option value="3">BAFD</option>
                            <option value="4">CQP Animateur Périscolaire</option>
                            <option value="5">BPJEPS</option>
                            <option value="6">DEJEPS</option>
                        </select>
                    </div>
                    <div class="form-field col s6">
                        <input id="xp" type="number" placeholder="Années d'expériences">
                    </div>
                    <div>
                        <textarea id="comment" name="comment" placeholder="Commentaires"></textarea>
                    </div>
                    <div class="form-field">
                        <label for="unavailability" title="Clique-ici">Indisponibilités</label>
                        <input id="unavailability" type="date" class="datepicker" name="unavailability">
                    </div>
                    <div class="form-field">
                        <label for="skill" type="text"  class="validate">Compétences</label>
                        <input id="skill" type="text" autocomplete="off" class="validate">
                    </div>
                    <div class="form-field">
                        <label for="startdate1" title="Clique-ici">Date de début de contrat</label>
                        <input id="startdate1" type="date" class="datepicker" value="05/03/2019">
                    </div>
                    <div class="form-field">
                        <label for="endDate1" title="Clique-ici">Date de fin de contrat</label>
                        <input id="endDate1" type="date" class="datepicker" value="05/03/2019">
                    </div>
                    <div class="form-field">
                        <select multiple>
                            <option value="" disabled selected>Public concerné</option>
                            <option value="1">3/6 ans</option>
                            <option value="2">6/8 ans</option>
                            <option value="3">9/12 ans</option>
                            <option value="4">12/15 ans</option>
                            <option value="5">16/18 ans</option>
                            <option value="6">18/25 ans</option>
                            <option value="7">25/35 ans</option>
                            <option value="8">35/50 ans</option>
                            <option value="9">65/+77 ans</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <select multiple>
                            <option value="" disabled selected>Valeurs</option>
                            <option value="1">Bienveillance</option>
                            <option value="2">Optimisme</option>
                            <option value="3">Proximité</option>
                            <option value="4">Responsabilité</option>
                            <option value="5">Détermination</option>
                        </select>
                        <input id="other" type="text" class="validate" placeholder="Autres valeurs">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col s12 m6 offset-l3">
        <div class="card white">
            <div class="card-content">
                <p>Espace réservé (à ne pas remplir) :</p>
                <div class="form-field">
                <label for="startdate">Date de début de contrat</label>
                <input id="startdate" type="date" class="datepicker" value="05/03/2019">
                </div>
                <div class="form-field">
                <label for="endDate">Date de fin de contrat</label>
                <input id="endDate" type="date" class="datepicker" value="05/03/2019">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center-align">
    <a class="waves-effect waves-light btn">enregistrer<i class="material-icons right">save</i></a>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $("select").material_select();
    });
    $(document).ready(function () {
        $(".datepicker").pickadate({
            format: "dd/mm/yyyy"
        });
    });
    $('.chips').on('chip.add', function(e, chip){
    });

    $('.chips').on('chip.delete', function(e, chip){
    });

    $('.chips').on('chip.select', function(e, chip){
    });
    $('.chips-placeholder').material_chip({
        placeholder: 'Enter a tag',
        secondaryPlaceholder: '+Tag',
    });
    $('.chips-initial').material_chip('data');
    $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
    });
</script>
</body>
</html>