<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="nav.html :: nav-bar"></header>
<form action="/activity-leader-creation" method="post" th:object="${activityLeader}">
    <input th:field="*{id}" type="hidden">
    <div id="leader" class="row">
        <div class="col s12 m6 offset-l3">
            <div class="card white">
                <div class="card-action black-text">
                    <h4 class="center-align">Information Animateur</h4>
                </div>
                <div class="card-content">
                    <div class="form-field col s6">
                        <input th:field="*{firstName}" id="firstname"type="text" class="validate" placeholder="Prénom*" th:disabled="${!editable}">
                    </div>
                    <div class="form-field col s6">
                        <input th:field="*{lastName}" id="last_name" type="text" class="validate" placeholder="Nom*" th:disabled="${!editable}">
                    </div>
                    <div class="form-field col s6">
                        <input th:field="*{birthdate}" id="birthdate" type="date" placeholder="Date de Naissance" th:disabled="${!editable}">
                    </div>
                    <div class="form-field">
                        <input th:field="*{email}" id="email" type="email" class="validate" placeholder="Email*" th:disabled="${!editable}">
                    </div>
                    <div class="form-field col s6">
                        <input th:field="*{phone}"id="phone" type="tel" class="validate" placeholder="Téléphone" th:disabled="${!editable}"></div>
                    <div class="form-field">
                        <input th:field="*{location.address1}" type="text" class="validate" placeholder="Adresse 1" th:disabled="${!editable}">
                    </div>
                    <div class="form-field col s6">
                        <input th:field="*{location.address2}"type="text" class="validate" placeholder="Adresse 2" th:disabled="${!editable}">
                    </div>
                    <div class="form-field col s6">
                        <input th:field="*{location.postcode}" type="number" class="validate" placeholder="Code postal" th:disabled="${!editable}">
                    </div>
                    <div class="form-field col s6">
                        <input th:field="*{location.city}" type="text" class="validate" placeholder="Ville" th:disabled="${!editable}">
                    </div>
                    <div class="form-field">
                        <label>
                            <input name="hasACar" th:checked="*{hasACar}" type="checkbox" th:disabled="${!editable}">
                            <span>Véhiculé</span>
                        </label>
                    </div>
                    <div class="form-field col s6">
                        <select multiple th:field="${activityLeader.diplomas}">
                            <option value="" disabled selected>Diplômes</option>
                            <option th:each="diploma : ${diplomasList}" th:value="${diploma.id}" th:text="${diploma.name}"></option>
                         </select>
                    </div>
                    <div class="form-field col s6">
                        <input th:field="*{experience}"  id="xp" type="number" placeholder="Années d'expériences" th:disabled="${!editable}">
                    </div>
                    <div>
                        <textarea th:field="${activityLeader.comment}" id="comment" name="comment" placeholder="Commentaires"></textarea>
                    </div>
                    <div class="form-field">
                        <label for="unavailability" title="Clique-ici">Indisponibilités</label>
                        <input th:field="*{availability}" id="unavailability" type="date" class="datepicker" name="unavailability" th:disabled="${!editable}">
                    </div>
                    <div class="form-field">
                        <label for="skill" type="text"  class="validate">Compétences</label>
                        <input th:field="*{skillList}" id="skill" type="text" autocomplete="off" class="validate" th:disabled="${!editable}">
                    </div>
                    <div class="form-field">
                        <label for="startdate1" title="Clique-ici">Date de début de contrat</label>
                        <input th:field="*{startDate}" id="startdate1" type="date" class="datepicker" value="05/03/2019" th:disabled="${!editable}">
                    </div>
                    <div class="form-field">
                        <label for="endDate1" title="Clique-ici">Date de fin de contrat</label>
                        <input th:field="*{endDate}" id="endDate1" type="date" class="datepicker" value="05/03/2019" th:disabled="${!editable}">
                    </div>
                    <div class="form-field">
                        <select multiple th:field="${activityLeader.audiences}">
                            <option value="" disabled selected>Public concerné : </option>
                            <option th:each="audience : ${audiencesList}" th:value="${audience.id}" th:text="${audience.ageBracket}"></option>
                        </select>
                    </div>
                     <div class="form-field">
                        <select multiple th:field="*{values}">
                            <option value="" disabled selected>Sélectionnez une valeur : </option>
                            <option th:each="value : ${valuesList}" th:value="${value.id}" th:text="${value.name}"></option>
                        </select>
                        <input id="other" type="text" class="validate" placeholder="Autres valeurs" th:disabled="${!editable}">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col s12 m6 offset-l3">
        <div class="card white">
            <div class="card-content">
                <p>Espace réservé (à ne pas remplir) :</p>
                <div class="form-field">
                <label for="startdate">Date de début de contrat</label>
                <input  id="startdate" type="date" class="datepicker" value="05/03/2019" th:disabled="${!editable}">
                </div>
                <div class="form-field">
                <label for="endDate">Date de fin de contrat</label>
                <input id="endDate" type="date" class="datepicker" value="05/03/2019" th:disabled="${!editable}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center-align">
    <button  class ="btn waves-effect waves-light" type ="submit">Enregistrer
        <i class = "material-icons right">save</i></button>
    <button th:if="*{draft == true and id != null}" class="waves-effect waves-light btn modal-trigger" data-target="modal1">Envoyer la fiche par mail<i class="tiny material-icons right">send</i></button>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <p>Bonjour. Merci de ne cliquer sur ce lien pour valider qu'une fois que tous les champs renseignés sont remplis.</p>
        </div>
    </div>
</div>
</form>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
    $(document).ready(function () {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown of 15 years to control year
            labelMonthNext: 'Mois suivant',
            labelMonthPrev: 'Mois précédent',
            labelMonthSelect: 'Selectionner le mois',
            labelYearSelect: 'Selectionner une année',
            monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
            monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec' ],
            weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
            weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
            weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
            today: 'Aujourd\'hui',
            clear: 'Réinitialiser',
            close: 'Fermer',
            format: 'dd/mm/yyyy'
        });
    });
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });
</script>$('select').formSelect();
</body>
</html>