<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Barre de navigation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:fragment="nav-bar">
    <ul id="slide-out" class="side-nav fixed">
        <img src="image/logo-synergie.png">
        <li><a href="profile"><i class="small material-icons">account_circle</i>Profil</a></li>
        <li><a href="user-management"><i class="small material-icons">settings_applications</i>Utilisateurs</a></li>
        <li><a href="activity-leader-management"><i class="small material-icons">contacts</i>Animateurs</a></li>
        <li><a href="filter"><i class="small material-icons">find_in_page</i>Recherches</a></li>
    </ul>
</header>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
</body>
</html>