<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="user-management-body">

<header th:replace="nav.html :: nav-bar"></header>


<main class="profileContent">
    <h2>Profil</h2>
    <div class="row">
        <form class="col s12" action="/profile" method="post" th:action="@{/profile}" th:object="${user}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input th:field="*{id}" type="hidden">
            <div class="row">
                <div class="input-field col s12">
                    <input disabled id="email_inline" type="email" class="validate" th:field="*{email}">
                    <label for="email_inline">Email</label>
                    <span data-error="wrong" data-success="right"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Nouveau mot de passe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="passwordConfirmation" type="password" class="validate" name="passwordConfirmation" onblur="checkPass()" />
                    <label for="passwordConfirmation">Confirmation du mot passe</label>
                    <div id="divcomp"></div>
                </div>
            </div>
            <div class="button-form" id="button-form-user-modification" th:if="${divcomp.equals()}">
                <button type="submit" class="btn">ENREGISTRER<i class="material-icons right">save</i></button>
            </div>
        </form>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    function checkPass()
    {
        var champA = document.getElementById("password").value;
        var champB = document.getElementById("passwordConfirmation").value;
        var div_comp = document.getElementById("divcomp");

        if(champA == champB)
        {
            divcomp.innerHTML = "Correct";
        }
        else
        {
            divcomp.innerHTML = "Erreur !";
        }
    }
</script>
</body>
</html>