<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des utilisateurs</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<!--TODO: uncomment the next code line when header.html will be done.-->
<!--<thblock th:include"fragments/header.html :: header"></thblock>-->

    <main class="userManagementPageContent">

        <h2>Gestion des utilisateurs</h2>

        <a class="waves-effect waves-light btn"><i class="material-icons left">+</i>AJOUTER UN UTILISATEUR</a>

        <table class="striped ">
            <thead
                <tr>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr> <!--TODO: make dynamic this table with Thymeleaf-->
                    <td>test1@exemple.com</td>
                    <td>ADMIN</td>
                    <td>
                        <img class="userEditionIcon" src="../static/image/pencil.svg" alt="edit">
                        <img class="userEditionIcon" src="../static/image/trashbin.svg" alt="delete">
                    </td>
                </tr>
                <tr>
                    <td>test2@example.com</td>
                    <td>COORDINATOR</td>
                    <td>
                        <img class="userEditionIcon" src="../static/image/pencil.svg" alt="edit">
                        <img class="userEditionIcon" src="../static/image/trashbin.svg" alt="delete">
                    </td>
                </tr>
                <tr>
                    <td>test3@example.com</td>
                    <td>ADMIN</td>
                    <td>
                        <img class="userEditionIcon" src="../static/image/pencil.svg" alt="edit">
                        <img class="userEditionIcon" src="../static/image/trashbin.svg" alt="delete">
                    </td>
                </tr>
            </tbody>
        </table>
    </main>


<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>