<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Création Utilisateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:replace="nav.html :: nav-bar"></header>
<div class="bloc-user-creation">
    <div class="row">
        <div class="col s12 m6 offset-l3" id="bloc-form-user-creation">
            <div class="card">
                <div class="card-action black-text">
                    <h4 class="center-align" th:text="${user.id} ? 'Modification de compte' : 'Création de compte'">Informations Utilisateur</h4>
                    <form action="/user" method="post" th:action="@{/user-edition}" th:object="${user}">
                        <input th:field="*{id}" type="hidden"> <!--TODO: finir cette page edition pour modification user-->
                        <div class="row">
                            <div class="card-content">
                                <div class="form-field">
                                    <label for="email">Email</label>
                                    <input required th:field="*{email}" id="email" type="email" class="validate">
                                </div>
                                <div class="form-field">
                                    <input required th:field="*{password}" id="password" type="password" class="validate" placeholder="Mot de passe*">
                                </div>
                                <!--TODO: DELETE this password field, and replace by a random temporary password.
                                       TODO: make a email sending for asking a new password to the new user
                   -->
                                <div class="form-field">
                                    <select th:field="*{roles}"> <!--TODO: faire modifier les roles-->
                                        <option value="" disabled selected>Rôle</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Coordinateur</option>
                                    </select>
                                </div>
                                <div class="button-form" id="button-form-user-creation">
                                    <button type="submit" class="btn">ENREGISTRER<i class="material-icons right">save</i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
