<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des utilisateurs</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="user-management-body">
<header th:replace="nav.html :: nav-bar"></header>
    <main class="userManagementPageContent">
        <h2>Gestion des utilisateurs</h2>
        <div class="user-animator-ligne">
            <a class="waves-effect waves-light btn black-text white darken-1" th:href="@{/user-creation}">
                <i class="material-icons left">add</i>AJOUTER UN UTILISATEUR</a>
        </div>
        <table class="striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Rôle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.email}">test1@exemple.com</td>
                    <td>
                        <span th:each="role : ${user.roles}" th:text="${role.nameForDisplay}">ROLE</span>
                    </td>
                    <td>
                        <p>
                            <a class="subheader" th:href="@{/user-edition(id=${user.id})}">
                                <i class="small material-icons">
                                        edit
                                </i>
                            </a>
                            <a class="subheader" th:href="@{/user/disable(id=${user.id})}">
                                <i class="small material-icons" onclick="ConfirmMessage()">
                                        delete
                                </i>
                            </a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
    function ConfirmMessage() {

        if (confirm("Attention, cet utilisateur sera supprimé de la base de données. Confirmer la suppression ?")) {

            alert("L'utilisateur a bien été supprimé.")
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>